@font-face {
    src: url(../font/Poppins-Medium.otf);
    font-family: "Poppins-Medium";
}


@font-face {
    font-family:"Poppins-Medium";src:url(../fonts/Poppins-Medium.ttf) 
    format("truetype"),url(../fonts/Poppins-MediumItalic.ttf) 
    format("truetype"),url(../fonts/Poppins-Italic.ttf)
}
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Poppins-Medium";
}
.addressline{
    height: 40px;
    background-color: #f4f4f4;
}
.addressline .content a {
    display: inline-block;
    font-size: 12px;
    color: #707070;
    text-decoration: none;
    margin-right: 30px;
}
.addressline .content a span{
    display: inline-block;
}

.addressline .content{
    margin-left: 85px;
}
.addressline .content a i {
    color: #00aeef;
    margin-right: 5px;
}

.addressline .social-info a {
    color: #707070;
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
}
.addressline .social-info {
    margin-left: 192px;
}
.addressline .social-info a:hover{
    color: #00aeef;
}

/*navbar*/
.collapse ul li {
    font-size: 15px;
    text-transform: uppercase;
}

.collapse ul li a {
    color: black;
}
.navbar ul a{
    margin-right: 20px;
    color: #000;
}
.navbar .navbar-nav {
    margin-left: 100px;
}
.navbar ul a:hover{
    color: #00aeef;
}
.navbar .collapse{
    margin-left: 80px;
}
.navbar .d-flex .btn{
    width: 150px ;
    height: 40px;
    margin-right: 500px;
    background: rgb(29, 149, 209);
    border-radius: 0;
    color: white;
    outline: none;
    font-size: 12px;
    border: 2px solid rgb(29, 149, 209);
    cursor: pointer;
    margin-left:80px;
}
.navbar .d-flex .btn:hover {
    box-shadow: none;
    background-color: transparent;
    color: rgb(29, 149, 209);
}
.navbar .navbar-brand img{
    margin-left: 360px;
}
.welcome-area{
    width: 100%;
    z-index: 1;
    background-color: rgb(0, 0, 77);
    position: relative;
}
.welcome-welcome-slide{
    z-index: 1;
    width: 100%;
    height: 800px;
    position: relative;
}

.welcome-welcome-slide::before{
    content:'';
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-image: url('../img/banner.jpg');
    opacity: 0.4;
    position: absolute;
    inset: 0;
}

.welcome-text {
    position: relative;
    z-index: 1;
}
.welcome-text h2 {
    font-size: 55px;
    color: #ffffff;
    margin-bottom: 30px;
    display: block;
    text-transform: capitalize;

}
.welcome-text p {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 40px;

}
.dento-btn {
    position: relative;
    z-index: 1;
    min-width: 170px;
    height: 46px;
    line-height: 42px;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    padding: 0 20px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 2px;
    background-color: #00aeef;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    border: 2px solid #00aeef;
}
.dento-btn.active, .dento-btn:focus, .dento-btn:hover {
    box-shadow: none;
    background-color: transparent;
    color: #00aeef;
}
.about-us{
    height: 660px;
    margin-top: 100px;
}
.about-us .container .row {
    margin: 0 100px;
}
.about-us .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.about-us .container .row img{
    height: auto;
    max-width: 100%;
    margin-bottom: 250px;
}
.about-us .col-md-6{
    position: relative;
    width: 50%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.about-us .about-us-content{
    margin-bottom: 200px;
}
.about-us .section-heading{
    width: 100%;
    margin-bottom: 50px;
}
.section-heading .line{
    width: 70px;
    height: 4px;
    background-color: #00aeef;
    margin-top: 20px;
}
.about-us .about-us-content p{
    color: #707070;
    font-size: 13px;
    margin-bottom: 40px;
}
.single-skills-area{
    padding-bottom: 35px;
    
}
.single-skills-area h6{
    font-size: 18px;
    display: block;
    margin-bottom: 12px;
}

.single-skills-area .barfiller{
    width: 100%;
    height: 10px;
    background-color: #f4f4f4;
    border: none;
    position: relative;
    z-index: 1;
    
}
.barfiller .tip {
    margin-top: -35px;
    padding: 0;
    font-size: 16px;
    color: #333333;
    font-weight: 600;
    left: 0;
    position: absolute;
    z-index: 2;
    background: transparent;
    right: 0;
    text-align: right;
}
.barfiller .fill1 {
    display: block;
    position: relative;
    width: 0;
    height: 100%;
    background: #333;
    z-index: 1;
    background: rgb(0, 174, 239);
    width: 432px;
    transition: width 1s ease-in-out 0s;
}
.barfiller .fill2 {
    display: block;
    position: relative;
    width: 0;
    height: 100%;
    background: #333;
    z-index: 1;
    background: rgb(0, 174, 239);
    width: 351px;
    transition: width 1s ease-in-out 0s;
}
.barfiller .fill3{
    display: block;
    position: relative;
    width: 0;
    height: 100%;
    background: #333;
    z-index: 1;
    background: rgb(0, 174, 239);
    width: 459px;
    transition: width 1s ease-in-out 0s;
}
.dento-border {
    position: relative;
    z-index: 1;
    width: 85%;
    height: 2px;
    background-color: #f4f4f4;
    margin-left: 110px;
    margin-top: 0;
}

/*cta-area*/

.dento-cta-area{
    position: relative;
    margin-top: 30px;
}
.dento-cta-area .container .row{
    padding-left: 100px;
    padding-right: 100px;
}
.single-cta i {
    font-size: 50px;
    color: #00aeef;
    margin-bottom: 25px;
    display: block;
}
.single-cta h2{
    margin-bottom: 25px;
}

/*service-section*/

.service{
    margin-top: 100px;
    background-color: rgb(0, 0, 77);
    position: relative;
}
.service-area::before{
    content:'';
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-image: url('../img/img_dentail_v1.jpg');
    opacity: 0.4;
    position: absolute;
    inset: 0;
}
.service-area .section-heading{
margin-bottom: 50px;
position: relative;
}
.service-area .section-heading h2{
font-size: 36px;
margin-bottom: 20px;
position: relative;
color: #fff;
}

.service-area .row .col-md-4{
    margin-bottom:40px ;
    position: relative;

}
.service-area .row .col-md-4 h6{
    padding-top: 20px;
    color: #fff;
    margin-bottom: 0;
    font-weight: 400;
    position: relative;
}
.service-area .single-service h6:hover{
    color:#00aeef;
}
.service-area .row .single-service img{
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 15px;
    max-height: 35px;
    position: relative;
}
.dento-video-area{
    position: relative;
}
.dento-video-area{
    margin: 80px 0;
}

.dento-video-area .video-play-button {
    position: absolute;
    width: 60px;
    height: 60px;
    color: #ffffff;
    background-color: #00aeef;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
}
.dento-video-area .video-play-button:hover{
    background-color: #000;
}

/*pricing-table*/ 

.pricing-table{
    margin-top: 120px;
}
.pricing-table h2{
    font-size: 36px;
}
.pricing-table .section-heading{
    width: 100%;
}
.pricing-table .section-heading .line {
    width: 70px;
    height: 4px;
    background-color: #00aeef;
    margin-left: 610px;
    margin-bottom: 50px;
}

.price-table table tr > th {
    padding: 15px 30px;
    border-radius: 3px;
    border: 4px solid #ffffff;
    background-color: #f4f4f4;
    font-weight: 600;
    color: #707070;
   
}
.price-table table thead tr > th {
    background-color: #00aeef;
    color: #ffffff;
}
.price-table table tbody tr > td{
     padding: 15px 30px;
    border-radius: 3px;
    border: 4px solid #ffffff;
    background-color: #f4f4f4;
    font-weight: 600;
    color: #707070;
}
.pricing-table .more-btn{
    margin-top: 50px;
    margin-bottom: 80px;
}

/*oppintment-section*/ 

.op{
    height: 680px;
    background-color: rgb(0, 0, 77);
    position: relative;
}
.oppointment::before{
    content:'';
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-image: url('../img/dental-health-care-website-header.jpg');
    opacity: 0.3;
    position: absolute;
    inset: 0;
}
.oppointment .container{
    padding: 100px 0;
}
.oppointment .section-heading .line{
    width: 70px;
    height: 4px;
    background-color: #00aeef;
    margin-top: 20px;
    margin-left: 600px;
    margin-bottom: 50px;
}
.oppointment .section-heading h2{
    color: #fff;
}

.form-group{
    margin-bottom: 30px;
    position: relative;
}
.appointment-form .form-control {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    border: none;
    color: #ffffff;
    font-size: 12px;
    padding: 0 30px;
    font-style: italic;
}
.appointment-form input::placeholder{
    color: #605454;
}

.appointment-form textarea.form-control {
    padding: 30px;
    height: 120px;
}
.appointment-form textarea::placeholder{
    color: #605454;
}
.appointment-form select option {
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    color: #605454;
}

/*dentist-area*/

.dentist-area{
    margin: 100px 0;
}
.dentist-area .section-heading .line{
    width: 70px;
    height: 4px;
    background-color: #00aeef;
    margin-top: 20px;
    margin-left: 610px;
    margin-bottom: 50px;
}
.dentist-info .overlay{

    bottom: 0;
    position: absolute;
    color: white;
    background: #2c455d;
    text-align: center;
    opacity: 0.85;
    width: 100%;
    left: 0;
}

.single-dentist-area {
    position: relative;
    z-index: 1;
    background-color: #f4f4f4;
}
.single-dentist-area .dentist-content {
    position: absolute;
    width: 100%;
    bottom: 0;
}
.single-dentist-area .dentist-content .dentist-social-info {
    text-align: center;
    margin-bottom: 30px;
    visibility: hidden;
}
.single-dentist-area .dentist-content .dentist-social-info a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.15);
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    color: #00aeef;
    margin: 0 7px;
}
.single-dentist-area .dentist-content:hover{
    opacity: 1;
}
.single-dentist-area .dentist-content:hover .dentist-social-info  a{
    display: inline-block;
    text-align: center;
    margin-bottom: 30px;
    visibility: visible;
}

.single-dentist-area .dentist-content .dentist-info {
    width: 100%;
    padding: 10px 15px;
    text-align: center;
}

/*reviews*/

.reviews{
    height: 350px;
    margin-bottom: 100px;
    background-color: rgb(0, 0, 77);
    position: relative;
}
.testimonials-area::before{
content:'';
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
background-attachment:fixed;
background-image: url('../img/Gulf-Medical-Expo.jpg');
opacity: 0.3;
position: absolute;
inset: 0;
}
.reviews .carousel-inner{
    margin: 35px 0;
    padding: 20px;
    margin-left: 50px;
    position: relative;
}
.carousel-inner .carousel-item img {
    position: relative;
    flex: 0 0 180px;
    max-width: 180px;
    width: 180px;
    margin-right: 30px;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.carousel-inner .carousel-item .carousel-caption {
    margin-left: 50px;
    margin-bottom: 8px;
}


.carousel-inner .carousel-item .carousel-caption h5 {
    font-size: 15px;
    font-weight: 200;
    line-height: 1.8;
    font-style: italic;
    margin-bottom: 15px;
    color: #fff;   
    text-align: left;
    letter-spacing: 1px;
}
.carousel-inner .carousel-item .carousel-caption h6 {
    color: #fff;   
    font-weight: 500;
    text-align: left;
    font-size: 13px;
    letter-spacing: 1px;

}
.carousel-inner .carousel-item .carousel-caption p {
    margin-bottom: 0;
    color: #fff;   
    text-align: left;
    font-size: 12px;
    letter-spacing: 1px;

}

/*news-area*/

.news-area {
    margin: 60px 0px;
}

.news-area .na-heading {
    text-align: center;
    margin-bottom: 50px;
}

.news-area .na-line {
    width: 100px;
    height: 4px;
    background: rgb(0, 174, 239);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.news-area .row{
    padding:12px;
}

.news-area .col-md-4{
    padding:12px;
}

.news-area .card-body{
    padding:15px;
}

.news-area .card-body a{
    padding:5px;
    text-decoration-line: none;
}

/*footer*/

.footer{
    background-color: rgb(0, 0, 77);
    position: relative;

}
.footer-area {
    position: relative;
    z-index: 1;
    padding-top: 100px;

}
.footer-area::before{
    content:'';
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-image: url('../img/footer.jpg');
    opacity: 0.3;
    position: absolute;
    inset: 0;
}
.single-footer{
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
}
.single-footer p{
    color: #ffffff;
    font-size: 13px;
}
.single-footer .footer-contact {
    position: relative;
    z-index: 1;
}
.single-footer .footer-contact p {
    margin-bottom: 5px;
    font-size: 12px;
}
.single-footer .widget-title {
    color: #ffffff;
    margin-top: 5px;
    margin-bottom: 25px;
    display: block;
    text-align: center;
}
.single-footer .quick-links li a{
    text-decoration: none;
    font-size: 13px;
}
.single-footer .quick-links li {
    list-style: none;
}


.single-footer .opening-hours {
    position: relative;
    z-index: 1;
}
.single-footer .opening-hours li {
   
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    margin-bottom: 17px;
    font-size: 12px;
}
.single-footer .footer-newsletter-form {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    margin-top: 25px;
}
.single-footer .footer-newsletter-form input {
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    border-radius: 2px;
    border: none;
    font-size: 12px;
    padding: 0 15px;
}
.single-footer .footer-newsletter-form button {
    width: auto;
    padding: 0 15px;
    background-color: #00aeef;
    color: #ffffff;
    border: none;
    border-radius: 0 2px 2px 0;
    line-height: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
   
}
.single-footer .footer-social-info a {
    display: inline-block;
    color: #ffffff;
    margin-right: 20px;
}
.copywrite-content {
    position: relative;
    z-index: 1;
    border-top: 1px solid #576a7d;
    padding: 20px 0;
    text-align: center;
}
.copywrite-content p {
    font-size: 12px;
    color: #fff;
    margin-bottom: 0;
}
.copywrite-content p a {
    color: #ffffff;
    text-decoration: none;
}
.single-footer p {
    color: #ffffff;
}
.single-footer .footer-contact p {
    margin-bottom: 5px;
    font-size: 14px;
}
.single-footer .quick-links {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.single-footer .quick-links li {
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%;
}

.single-footer .quick-links li a {
    color: #ffffff;
    margin-bottom: 17px;
    display: block;
    text-decoration: none;
}
 

/* Media Query */


@media only screen and (min-width: 320px) and (max-width: 479px) {
html,
body{
    width: 100%;
    overflow-x: hidden;
}
.addressline .social-info{
    margin-left: 0;
}
.addressline .content {
    margin-left: 10px;
    display: flex;
}

.addressline .content a span {
    display: none;
}
.navbar{
    margin: 10px 0 !important;
}
.navbar .navbar-brand img{
        margin-left: 0 !important;
        height: 25px !important;
}
.navbar .d-flex .btn{
   margin-right: 0 !important;
   width: 120px !important;
   margin-left: 0 !important;
}
.navbar .container-fluid .nav-brand {
    max-width: 90px;
    margin-right: 15px;
}
.toggle .navbar-toggler{
    border: 0;
}

/*welcome-area*/

.welcome-welcome-slide{
    height: 500px !important;
}
.welcome-text h2 {
    font-size: 30px !important;
    color: #ffffff;
    margin-bottom: 30px !important;
    display: block;
    text-transform: capitalize;
}
.welcome-text p {
    font-size: 15px !important;
    color: #ffffff;
    margin-bottom: 40px !important;
}
.welcome-btn-group{
    display: flex !important;
    justify-content: center !important;
}
.dento-btn {
   min-width: 140px !important;
}
 /*about*/
.about-us .col-md-6 {
    width: 100% !important;
}
.about-us .container .row {
    margin: 0 !important;
    display: flex !important;
    flex-direction: column !important;
}
.about-us .container .row img{
    height: 350px !important;
    margin-bottom: 30px !important;
    width: 400px !important;
}
.about-us .about-us-content p {
    font-size: 12px !important;
    text-align: justify !important;
}
.single-skills-area h6 {
    font-size: 15px !important;
}
.barfiller .tip {
    font-size: 15px !important;
}
.barfiller .fill1{
    width: 180px !important;
}
.barfiller .fill2{
    width: 120px !important;
}
.barfiller .fill3{
    width: 200px !important;
}
.dento-border{
    margin-top: 220px !important;
    width: 100% !important;
    margin-left: 0 !important;
}
 /*cta-area*/

.single-cta{
    padding-bottom: 50px !important;
    margin-bottom: 0 !important;
}
.single-cta h2{
    margin-bottom: 8px !important;
}
.single-cta h5{
    font-size: 15px !important;
}
.single-cta i {
    margin-bottom: 10px !important;
}
 /*service*/

 .service{
    margin-top: 20px !important;
 }
 .service-area .section-heading h2 {
    font-size: 25px;
    padding-top: 30px;
 }
 .service-area .row .col-md-4{
    width: 30%;
    margin-left: 10px !important;
 }
 .service-area .row .col-md-4 h6 {
    font-size: 15px !important;
 }
 .dento-video-area img{
    width: 100%;
 }

 /*reviews*/

 .reviews{
    height: 750px !important;
 }
 .reviews .carousel-inner{
    margin-left: 0;
 }
 .carousel-caption{
    position: relative;
}
 .carousel-inner .carousel-item img{
    margin-left: 40px !important;
 }
 .carousel-inner .carousel-item .carousel-caption {
    margin-right: 50px !important;
    margin-left: 0;
 }
/*pricing*/

.pricing-table {
    margin-top: 50px;
}
.pricing-table h2 {
    font-size: 25px;
}
.pricing-table .section-heading .line {
    width: 50px !important;
    margin-left: 120px !important;
} 
.price-table table tr > th {
    padding: 10px 15px !important;
    font-size: 12px !important;
}
/*op*/
.op{
    height: auto !important;
}
.oppointment .section-heading .line{
    margin-left: 120px !important;
}
.appointment-form .form-control{
    width: 90% !important;
    margin-left: 15px !important;
}
.dentist-area {
    margin: 50px 0;
}
.dentist-area .section-heading .line {
    width: 50px;
    margin-left: 120px;
}
.single-dentist-area img{
    width: 100% !important;
}
.single-dentist-area{
    margin-bottom: 50px !important;
}
.single-footer .widget-title{
    text-align: left !important;
}
}

@media only screen and (min-width: 480px) and (max-width: 767px){ 
    html,
    body{
        width: 100%;
        overflow-x: hidden;
    }
    .addressline .social-info{
        margin-left: 0;
    }
    .addressline .content {
        margin-left: 10px;
        display: flex;
    }
    
    .addressline .content a span {
        display: none;
    }
    .navbar{
        margin: 10px 0 !important;
    }
    .navbar .navbar-brand img{
            margin-left: 0 !important;
            height: 25px !important;
    }
    .navbar .d-flex .btn{
       margin-right: 0 !important;
       width: 120px !important;
       margin-left: 0 !important;
    }
    .navbar .container-fluid .nav-brand {
        max-width: 90px;
        margin-right: 15px;
    }
    .toggle .navbar-toggler{
        border: 0;
    }
    
    /*welcome-area*/
    
    .welcome-welcome-slide{
        height: 500px !important;
    }
    .welcome-text h2 {
        font-size: 30px !important;
        color: #ffffff;
        margin-bottom: 30px !important;
        display: block;
        text-transform: capitalize;
    }
    .welcome-text p {
        font-size: 15px !important;
        color: #ffffff;
        margin-bottom: 40px !important;
    }
    .welcome-btn-group{
        display: flex !important;
        justify-content: center !important;
    }
    .dento-btn {
       min-width: 140px !important;
    }
     /*about*/
    .about-us .col-md-6 {
        width: 100% !important;
    }
    .about-us .container .row {
        margin: 0 !important;
        display: flex !important;
        flex-direction: column !important;
    }
    .about-us .container .row img{
        height: 350px !important;
        margin-bottom: 30px !important;
        width: 400px !important;
    }
    .about-us .about-us-content p {
        font-size: 12px !important;
        text-align: justify !important;
    }
    .single-skills-area h6 {
        font-size: 15px !important;
    }
    .barfiller .tip {
        font-size: 15px !important;
    }
    .barfiller .fill1{
        width: 180px !important;
    }
    .barfiller .fill2{
        width: 120px !important;
    }
    .barfiller .fill3{
        width: 200px !important;
    }
    .dento-border{
        margin-top: 220px !important;
        width: 100% !important;
        margin-left: 0 !important;
    }
     /*cta-area*/
    
    .single-cta{
        padding-bottom: 50px !important;
        margin-bottom: 0 !important;
    }
    .single-cta h2{
        margin-bottom: 8px !important;
    }
    .single-cta h5{
        font-size: 15px !important;
    }
    .single-cta i {
        margin-bottom: 10px !important;
    }
     /*service*/
    
     .service{
        margin-top: 20px !important;
     }
     .service-area .section-heading h2 {
        font-size: 25px;
        padding-top: 30px;
     }
     .service-area .row .col-md-4{
        width: 30%;
        margin-left: 10px !important;
     }
     .service-area .row .col-md-4 h6 {
        font-size: 15px !important;
     }
     .dento-video-area img{
        width: 100%;
     }
    
     /*reviews*/
    
     .reviews{
        height: 750px !important;
     }
     .reviews .carousel-inner{
        margin-left: 0;
     }
     .carousel-caption{
        position: relative;
    }
     .carousel-inner .carousel-item img{
        margin-left: 50px !important;
     }
     .carousel-inner .carousel-item .carousel-caption {
        margin-right: 50px !important;
        margin-left: 0;
     }
    /*pricing*/
    
    .pricing-table {
        margin-top: 50px;
    }
    .pricing-table h2 {
        font-size: 25px;
    }
    .pricing-table .section-heading .line {
        width: 50px !important;
        margin-left: 120px !important;
    } 
    .price-table table tr > th {
        padding: 10px 15px !important;
        font-size: 12px !important;
    }
    /*op*/
    .op{
        height: auto !important;
    }
    .oppointment .section-heading .line{
        margin-left: 120px !important;
    }
    .appointment-form .form-control{
        width: 90% !important;
        margin-left: 15px !important;
    }
    .dentist-area {
        margin: 50px 0;
    }
    .dentist-area .section-heading .line {
        width: 50px;
        margin-left: 120px;
    }
    .single-dentist-area img{
        width: 100% !important;
    }
    .single-dentist-area{
        margin-bottom: 50px !important;
    }
    .single-footer .widget-title{
        text-align: left !important;
    }
    }